@model MobilidadeSolidaria.Models.Equipamento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="my-4">Equipamentos</h1>
<h4 class="mb-4">Editar</h4>

<div class="card my-4 border-dark border-2 rounded-1">
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-8 col-lg-10">
                    <div class="mb-3">
                        <label asp-for="Nome" class="form-label mb-1"></label>
                        <input asp-for="Nome" class="form-control p-2 border-dark border-2 rounded-1" />
                        <span asp-validation-for="Nome" class="text-danger"></span>

                        <label asp-for="Descricao" class="form-label mb-1 mt-4"></label>
                        <input asp-for="Descricao" class="form-control p-2 border-dark border-2 rounded-1" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>

                        <label asp-for="Status" class="form-label mt-4 mb-1"></label>
                        <select asp-for="Status" class="form-select border-dark border-2 rounded-1"
                            asp-items="Html.GetEnumSelectList<StatusEquipamento>()">
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>

                        <label asp-for="Categoria" class="form-label mt-4 mb-1"></label>
                        <select asp-for="CategoriaId" class="form-select border-dark border-2 rounded-1"
                            asp-items="ViewBag.Categorias">
                        </select>
                        <span asp-validation-for="CategoriaId" class="text-danger"></span>


                    </div>

                    <div class="mb-3">
                        <label asp-for="Fotos" class="form-label"></label>
                        <input type="file" id="Arquivo" name="Arquivo"
                            class="form-control p-2 border-dark border-2 rounded-1" accept=".jpg,.jpeg,.png,.gif;" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="Preview" class="form-label">Prévia</label>
                    <img id="Preview" src="" class="img-fluid">
                </div>
            </div>
            <div class="d-flex mt-4">
                <button type="submit" class="btn btn-outline-success me-2">
                    <i class="fas fa-save me1"></i> Salvar
                </button>
                <a asp-action="Index" class="btn btn-outline-danger">
                    <i class="fas fa-cancel me1"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
    <script>
        document.querySelector("input[type='file']").addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var img = document.getElementById("Preview");
                img.src = URL.createObjectURL(this.files[0]);
            }
        });

    </script>
}