@model IEnumerable<MobilidadeSolidaria.Models.Equipamento>

@{
    ViewData["Title"] = "Equipamentos Disponíveis";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var equipamento in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <!-- Exibição da imagem do equipamento -->
                    <img src="@equipamento.Fotos.FirstOrDefault()?.ArquivoFoto" class="card-img-top" alt="@equipamento.Nome">
                    <div class="card-body">
                        <!-- Nome do equipamento -->
                        <h5 class="card-title">@equipamento.Nome</h5>
                        
                        <!-- Status do equipamento -->
                        <p><strong>Status:</strong> 
                            @switch (equipamento.Status)
                            {
                                case StatusEquipamento.Emprestimo:
                                    <span class="text-warning">Empréstimo</span>;
                                    break;
                                case StatusEquipamento.Doacao:
                                    <span class="text-success">Disponível para Doação</span>;
                                    break;
                                case StatusEquipamento.Indisponivel:
                                    <span class="text-danger">Indisponível</span>;
                                    break;
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
