body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    max-height: 100%;
}

header {
    background: linear-gradient(to right, #2A6C81, #75D9F8);
    padding: 10px 20px;
    text-align: center;
}

nav .itensHeader{
    max-width: 1000px; /* Define um tamanho máximo */
    margin: 0 auto; /* Centraliza o conteúdo dentro da nav */
    display: flex; /* Mantém os itens flexíveis */
    justify-content: space-between; /* Distribui os itens */
    align-items: center; /* Alinha verticalmente */
    gap: 0px;
}

.top-bar {
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #2A6C81, #75D9F8);
    margin-bottom: 70px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #11272d;
    font-weight: bold;
    text-decoration: none;
    gap: 10px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2A6C81, #75D9F8);
    color: #363333;
    height: 400px;
}

.banner img {
    flex: 1;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}


.about{
    text-align: center;
    background: white;
    padding: 30px;
    margin: 0; /* Remove margens automáticas */
    width: 100vw; /* Faz a section ocupar toda a largura da viewport */
    max-width: none; /* Remove a limitação de largura */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about div {
    display: flex;
    max-width: 1000px;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    margin: 0 auto; /* Garante que a div principal fique centralizada */
    gap: 0px; /* Adiciona espaço entre os elementos internos */
}



.doacao .items {
    display: flex;
    justify-content: space-around;
}

.item {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

button {
    background: #0077b6;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005f8d;
}
