<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]MobilidadeSolidaria</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MobilidadeSolidaria.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
    <div class="top-bar" style="
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        max-width: 1000px; 
        margin: auto;
        padding: 10px;
    ">
        <!-- Redes Sociais -->
        <div style="display: flex; gap: 15px;">
            <i class="fa-brands fa-facebook fa-xl" style="color: #11272d;"></i>
            <i class="fa-brands fa-linkedin fa-xl" style="color: #11272d;"></i>
            <i class="fa-brands fa-square-whatsapp fa-xl" style="color: #11272d;"></i>
        </div>

        <!-- Contato -->
        <div style="display: flex; align-items: center; gap: 10px;">
            <i class="fa-solid fa-envelope fa-xl" style="color: #11272d;"></i>
            <span style="color: #11272d; font-weight: bold; font-size: 15px;">contato@mobsolidaria.com |</span>
            <i class="fa-solid fa-phone fa-xl" style="color: #11272d;"></i>
            <span style="color: #11272d; font-weight: bold; font-size: 15px;">(14) 99999-9999</span>
        </div>
    </div>
</header>

    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MobilidadeSolidaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
