@using Microsoft.AspNetCore.Identity
@inject MobilidadeSolidaria.Data.AppDbContext _db
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    var user = UserManager.GetUserName(User);
    var usuario = _db.Usuarios.FirstOrDefault(u => u.UserName == user);
}

@if (!SignInManager.IsSignedIn(User))
{
    <a asp-action="Login" asp-controller="Account" class="me-2">
        <img src="~/images/usuarios/no-user.png" width="40" height="40" class="object-fit-cover rounded-5">
    </a>
}
else
{
    <div class="nav-item dropdown me-2">
        <button class="nav-link text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src='@Url.Content(usuario?.Foto ?? "~/images/usuarios/no-user.png")' width="40" height="40" class="object-fit-cover rounded-5">

        </button>
        <ul class="dropdown-menu" style="position: absolute!important; margin-left: -200px!important; width: 265px; margin-top: 0px;">
            @if (User.IsInRole("Administrador") || User.IsInRole("Funcionário"))
            {
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Admin">
                        <i class="bi bi-house mr-1"></i>Acessar Área Administrativa
                    </a>
                </li>
            }
            <li>
                <a class="dropdown-item" asp-action="Perfil" asp-controller="Account">
                    <i class="bi bi-person-bounding-box mr-1"></i>Gerenciar Conta
                </a>
            </li>
            <li>
                <form method="POST" asp-action="Logout" asp-controller="Account">
                    <button type="submit" class="dropdown-item align-middle">
                        <i class="bi bi-door-closed mr-1"></i> Sair
                    </button>
                </form>
            </li>
        </ul>
    </div>
}
