@model MobilidadeSolidaria.ViewModels.PerfilVM
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">
                    <h2 class="mb-4 text-center fw-bold">Gerenciamento de conta</del></h2>
                    <hr>
                    <div class="mb-3" style="display:flex ;width: 100%; justify-content: center;">
                        <div class="col-sm-12 col-md-5" style="position: relative;"
                            onmouseover="document.getElementById('hoverText').style.opacity='1'"
                            onmouseout="document.getElementById('hoverText').style.opacity='0'">



                            <img src='@Url.Content(Model.FotoUrl ?? "~/images/usuarios/no-user.png")'
                                id="PreviewImage" alt="Foto text-danger Avatar" class="w-100 rounded-3"
                                style="cursor: pointer; transition: filter 0.3s ease;"
                                onmouseover="this.style.filter='brightness(0.7)'"
                                onmouseout="this.style.filter='brightness(1)'" onclick="changeImage()" />
                            <div id="hoverText"
                                style="position: absolute; bottom: 50%; left: 50%; transform: translateX(-50%);
                                    color: white; font-size: 1rem; opacity: 0; transition: opacity 0.3s ease; pointer-events: none;">
                                Alterar foto
                            </div>
                            <div hidden>
                                <input type="file" asp-for="Foto" accept=".jpg,.jpeg,.png,.gif,.jfif" />
                            </div>
                        </div>
                    </div>
                    <form asp-action="Perfil" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="Nome" class="mb-0 fw-semibold">Nome</label>
                            <input class="form-control" asp-for="Nome" />
                            <span asp-validation-for="Nome" class="text-danger text-sm"></span>
                        </div>
                        <div>
                            <label asp-for="Email" class="mb-0 fw-semibold">Email</label>
                            <input class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger text-sm"></span>
                        </div>
                        <div class="mt-3 mb-3">
                            <label asp-for="SenhaAtual" class="mb-0 fw-semibold">Senha atual</label>
                            <input class="form-control" asp-for="SenhaAtual" />
                            <span asp-validation-for="SenhaAtual" class="text-danger text-sm"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NovaSenha" class="mb-0 fw-semibold">Nova senha</label>
                            <input class="form-control" asp-for="NovaSenha" />
                            <span asp-validation-for="NovaSenha" class="text-danger text-sm"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmacaoNovaSenha" class="mb-0 fw-semibold">Cofirmação de senha</label>
                            <input class="form-control" asp-for="ConfirmacaoNovaSenha" />
                            <span asp-validation-for="ConfirmacaoNovaSenha" class="text-danger text-sm"></span>
                        </div>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-primary btn-lg" value="Salvar alterações">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
    <script type="text/javascript">
        function changeImage() {
            document.querySelector('input[type="file"]').click();
        }

        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('PreviewImage');
                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });
    </script>
}