<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobilidade Solidária</title>
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/40adfc175a.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="top-bar" style="height: 30px; margin-top: 5px;">
            <div style="display: flex; justify-content: left; align-items: center; opacity: 90%;">
                <i class="fa-brands fa-facebook fa-xl" style="align-items:center; color: #11272d;margin-right: 17px; "></i>
                <i class="fa-brands fa-linkedin fa-xl" style="color: #11272d; margin-right: 17px;"></i>
                <i class="fa-brands fa-square-whatsapp fa-xl" style="color: #11272d;"></i>
                <div>
                        <i class="fa-solid fa-envelope fa-xl" style="color: #11272d; margin-left: 750px;"></i>
                        <span style="color: #11272d; font-weight: bold; font-size: 15px;">contato@mobsolidaria.com  |</span>
                        <i class="fa-solid fa-phone fa-xl"style="color: #11272d; margin-left: 5px"></i>
                        <span style="color: #11272d; font-weight: bold; font-size: 15px;">(14) 99999-9999</span>
                </div>
            </div>
        </div>
        <nav>
            <a href="">
                <img src="~/imgs/Logocompletasemfundo.png" alt="" style="height: 200px; justify-content: left;">
            </a>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">QUEM SOMOS</a></li>
                <li><a href="#">MINHA CONTA</a></li>
                <li><input style="border-radius: 20px; border: 1px solid #ccc; padding: 3px 8px;outline: none;" type="text" placeholder="Buscar..."></li>
            </ul>
        </nav>
    </header>
    
    <section class="banner">
        <div class="banner-img">
            <img src="~/imgs/Mulhernacadeiraderodas.png" alt="Pessoa em cadeira de rodas com cachorro" style="height: 300px; width: 300px;">
        </div>
        <div class="text">
            <h2>Doe o que não usa, mude a vida de quem precisa.</h2>
            <button>Quero doar</button>
        </div>
    </section>
    
    <section class="about">
        <h2>Conheça nossa iniciativa</h2>
        <p>Doe <strong class="highlight">MOBILIDADE</strong>. Doe <strong class="highlight">DIGNIDADE</strong>. Doe um <strong class="highlight">NOVO COMEÇO</strong>.</p>
        <p>Conectamos pessoas que desejam doar equipamentos de mobilidade a quem precisa desses itens essenciais...</p>
        <button>Saiba mais</button>
    </section>
    
    <section class="doacao">
        <h2>Alguns itens para doação</h2>
        <div class="items">
            <div class="item">
                <img src="wheelchair.jpg" alt="Cadeira de rodas">
                <p>Cadeira de rodas - Adulto</p>
                <button>Tenho interesse</button>
            </div>
            <div class="item">
                <img src="walker.jpg" alt="Andador de Alumínio">
                <p>Andador de Alumínio</p>
                <button>Tenho interesse</button>
            </div>
            <div class="item">
                <img src="bath-chair.jpg" alt="Cadeira de banho">
                <p>Cadeira de banho</p>
                <button>Tenho interesse</button>
            </div>
        </div>
    </section>
</body>
</html>
