<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobilidade Solidária</title>
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/40adfc175a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <div class="itensHeader">
                <a href="">
                    <img src="~/imgs/LogoSemFundo.png" alt="" style="height: 150px; justify-content: left;">
                </a>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">QUEM SOMOS</a></li>
                    <li><a href="#">MINHA CONTA</a></li>
                </ul>
                <ul>
                <li><input style="border-radius: 20px; border: 1px solid #ccc; padding: 3px 8px;outline: none;" type="text" placeholder="Buscar..."></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="banner" style="gap: 35px;">
        <div class="banner-img">
            <img src="~/imgs/Mulhernacadeiraderodas.png" alt="Pessoa em cadeira de rodas com cachorro" style="height: 300px; width: 300px;">
        </div>
        <div class="text" style="width: 450px;">
            <h2 style="color: #363333;">Doe o que não usa, mude a vida de quem precisa.</h2>
            <button>Quero doar</button>
        </div>
    </section>
    
    <section class="about">
        <h2 style="color: #1A4B59; margin: 30px;">Conheça nossa iniciativa</h2>

        <div>
            <div style="width: 350px; font-size: 22px; text-align: left;">
                <p>Doe <strong style="color: #92BC5B;">MOBILIDADE</strong>.<br>
                 Doe <strong style="color: #4E8E3C;">DIGNIDADE</strong>.<br>
                  Doe um <strong style="color: #1E3F66;">NOVO COMEÇO</strong>.</p>
            </div>
            <div style="max-width: 500px; text-align: left;">
                <p>Conectamos pessoas que desejam doar equipamentos de mobilidade a quem precisa desses itens essenciais. 
                Buscamos facilitar a doação e garantir que mais pessoas tenham acesso a recursos que promovem maior qualidade de vida. 
                Juntos, podemos transformar a realidade de muitas pessoas, oferecendo mais liberdade e dignidade.</p>
            </div>
        </div>
    </section>
    
    <section class="about">
        <h2 style="color: #1A4B59; margin: 30px;">Alguns itens para doação</h2>
        
    </section>
</body>
</html>
