@model MobilidadeSolidaria.ViewModels.EquipamentoVM
@{
    ViewData["Title"] = "Sobre nós";
}

<section class="text-white text-center d-flex align-items-center" style="background-image: url('/images/BGSobreNos.jpg'); 
                background-size: cover; 
                background-position: center; 
                height: 100vh;" data-stellar-background-ratio="0.5" <div class=" container my-auto">
    </div>
</section>


<section class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/images/Mulhernacadeiraderodas.png" class="img-fluid rounded-4 w-75"
                    alt="Foto representativa sobre inclusão">
            </div>
            <div class="col-md-6">
                <h3>O Mobilidade Solidária nasceu com o propósito de conectar pessoas que precisam de equipamentos de
                    mobilidade, com quem pode doar ou emprestar esses itens. Acreditamos na força da <span
                        style="font-weight: bold; color: #92bc5b ">solidariedade</span> e no
                    poder da <span style="font-weight: bold; color: #1e3f66 ">tecnologia</span> para promover
                    acessibilidade, inclusão e autonomia. Nossa missão é facilitar
                    esse encontro e construir uma rede de apoio entre quem pode ajudar e quem precisa.</h3>
            </div>
        </div>
    </div>
</section>

<section style="background-color: rgb(216, 216, 216);">
    <div class=" container">
        <div class="row align-items-center">
            <div class="text-center mt-4">
                <h1>O que está esquecido por você pode ser transformador para outra pessoa. Faça a diferença, doe já!</h1>
            </div>
            <div class=" text-center align-items-center mt-4 mb-4">
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <a href="@(
                       User.Identity.IsAuthenticated? Url.Action("Cadastro", "Equipamentos") : Url.Action("Login", "Account")
                            )" class="btn btn-white btn-outline-white px-4 py-3">Quero doar</a>
                </p>
            </div>
        </div>
    </div>
</section>