@model MobilidadeSolidaria.ViewModels.EquipamentoVM
@{
    ViewData["Title"] = "Sobre nós";
}

<section class="text-white text-center d-flex align-items-center" 
         style="background-image: url('/images/BGPagSobreNos.jpg'); 
                background-size: cover; 
                background-position: center; 
                height: 100vh;
                padding-top: 100px;"> <!-- Adicionado -->
    <div class="container my-auto">
        <p class="lead mt-4">Conectamos doadores a quem mais precisa de equipamentos de mobilidade, promovendo inclusão e solidariedade.</p>
    </div>
</section>


<section class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/images/Mulhernacadeiraderodas.png" class="img-fluid rounded-4 w-75" alt="Foto representativa sobre inclusão">
            </div>
            <div class="col-md-6">
                <h2 class="fw-bold">Como tudo começou</h2>
                <p>Nosso projeto nasceu com o propósito de facilitar o acesso a equipamentos de mobilidade, promovendo a solidariedade entre pessoas e comunidades.</p>
            </div>
        </div>
    </div>
</section>
